<!doctype html>
<html style="overflow-x: hidden">

    {% include "header.html" %}

    <body class="hm-index-body text-center" style="overflow-x: hidden">

    <div class="cover-container d-flex h-100 mx-auto flex-column">

        {% include "navbar.html" %}

        <div class="hm-container">

            <main role="main" class="inner cover">
                <h1 class="hm-institutions-title">Tutores</h1>

                <div class="hm-persons-container">

                    <div class="hm-person-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/people.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">PhD. Lorena Carló</h3>
                                    <h6 class="hm-institucion-detail"> Biomedical Informatics </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Rol: </strong>Tutor Principal </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Mail: </strong>lcarlo@espol.edu.ec </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hm-person-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/people.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title"> MsC. Frank Malo</h3>
                                    <h6 class="hm-institucion-detail"> Sistemas de Información Gerencial </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Rol: </strong>Tutor </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Mail: </strong> fmalo@espol.edu.ec </h6>
                                </div>
                            </div>
{#                            <a class="hm-institucion-go">#}
{#                                <div class="hm-institucion-icon">#}
{#                                    <i class="material-icons" style="font-size: 36px;">arrow_right</i>#}
{#                                </div>#}
{#                            </a>#}
                        </div>
                    </div>

                </div>

                <h1 class="hm-institutions-title">Equipo</h1>

                <div class="hm-persons-container">

                    <div class="hm-person-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/people.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">Madelyne Velasco</h3>
                                    <h6 class="hm-institucion-detail"> Ingenieria en Computación </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Rol: </strong>Desarrolladora e Investigadora </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hm-person-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/people.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">Fabricio Layedra</h3>
                                    <h6 class="hm-institucion-detail"> Ingenieria en Computación </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Rol: </strong>Desarrollador e Investigador </h6>
                                </div>
                            </div>
{#                            <a class="hm-institucion-go">#}
{#                                <div class="hm-institucion-icon">#}
{#                                    <i class="material-icons" style="font-size: 36px;">arrow_right</i>#}
{#                                </div>#}
{#                            </a>#}
                        </div>
                    </div>

                    <div class="hm-person-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/people.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">Leonardo Kuffo</h3>
                                    <h6 class="hm-institucion-detail"> Ingenieria en Computación </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Rol: </strong>Desarrollador e Investigador </h6>
                                </div>
                            </div>
{#                            <a class="hm-institucion-go">#}
{#                                <div class="hm-institucion-icon">#}
{#                                    <i class="material-icons" style="font-size: 36px;">arrow_right</i>#}
{#                                </div>#}
{#                            </a>#}
                        </div>
                    </div>

                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p></p>
                </div>
            </footer>
        </div>



    </div>

    {% include "footer.html" %}

    </body>
</html>