<!doctype html>
<html>

    {% include "header.html" %}

    <body class="hm-index-body text-center">
    <div class="hm-loader-dimmer">
        <div class="hm-loader">
            <div class="load-3">
                <p>Cargando el mapa. Por favor, espera unos segundos.</p>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="cover-container d-flex h-100 mx-auto flex-column">

        {% include "navbar.html" %}

        <div id="{{ institution["id"] }}" class="hm-healthmap-map">
            <div class="hm-healthmap-map-info">
                <div class="hm-healthmap-selectors">
                    <h1 class="hm-page-title-u"> {{ institution["name"] }}</h1>
                    <div class="hm-healthmap-image" style="background-image: url('/static/images/{{ institution["id"] }}.png');">

                    </div>
                    <div class="hm-healthmap-back">
                        <a href="/institutions" class="hm-healthmap-back-a btn btn-primary btn-lg" role="button" aria-disabled="true">
                            <i class="material-icons">arrow_back</i>

                        </a>
                    </div>
                    <div class="hm-select-date-box">
                        <div>
                            <label class="hm-fields-label" for="from">Desde</label>
                            <input class="hm-select-date" type="text" id="from" name="from">
                        </div>
                        <div>
                            <label class="hm-fields-label" for="to">Hasta</label>
                            <input class="hm-select-date" type="text" id="to" name="to">
                        </div>
                    </div>
                    <div class="hm-filter-box">
                        <div class="ui-widget">
                            <label class="hm-fields-label" for="from">Edad</label>
                            <select id="combobox-edad">
                                <option value="">Todas las edades</option>
                                <option value="0-1">0 - 1 año</option>
                                <option value="0-2">1 - 2 años</option>
                                <option value="2-10">2 - 10 años</option>
                                <option value="10-18">10 - 18 años</option>
                                <option value="18-25">18 - 25 años</option>
                                <option value="25-40">25 - 40 años</option>
                                <option value="40-100">40 - 100 años</option>
                            </select>
                        </div>
                    </div>
                    <div class="hm-filter-box">
                        <div class="ui-widget">
                            <label class="hm-fields-label" for="from">Capítulo</label>
                            <select id="combobox-capitulo">
                                <option value=""></option>
                                {%  for k, v in capitulos.items() %}
                                    <option value="{{ v["nombre"] }}">{{ v["nombre"] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="hm-filter-box">
                        <div class="ui-widget">
                            <label class="hm-fields-label" for="from">Agrupación</label>
                            <select id="combobox-agrupacion">
                                <option value=""></option>
                                {%  for k, v in agrupacion.items() %}
                                    <option value="{{ v["nombre"] }}">{{ v["nombre"] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="hm-filter-box">
                        <div class="ui-widget">
                            <label class="hm-fields-label" for="from">Enfermedad</label>
                            <select id="combobox-cie10">
                                <option value=""></option>
                                {%  for k, elem in cie10.items() %}
                                    <option value="{{ elem["id"] }}">{{ elem["id"] + "-" + elem["nombre"] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button id="hm-filter-action"
                            type="button"
                            class="hm-action-button btn btn-outline-primary btn-lg btn-block">
                        FILTRAR
                    </button>
                </div>
            </div>
            <div id="map" style="height: 100%; width: 100%;">

            </div>
        </div>

    </div>

    {% include "footer.html" %}

    <script src="/static/js/mapCreator.js"></script>
    <script src="/static/js/healthmap.js"></script>

    </body>
</html>