
<header class="masthead">
    <div class="inner">
        <a href="/institutions" class="masthead-brand-link">
            <h3 class="masthead-brand">Guayaquil Health Map</h3>
        </a>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link {{'active' if active == 'init'}}" href="/">Inicio</a>
            <a class="nav-link {{'active' if active == 'institutions'}}" href="/institutions">Instituciones</a>
            <a class="nav-link {{'active' if active == 'contact'}}" href="/contacto">Contacto</a>
        </nav>
    </div>
</header>